           body 							{







		padding-top: 									89px   ;
}
/*
 * Un commentaire sur 3 lignes
 */

html {}

.truc {
	padding: 10px;
}

.truc:before {
	content: '/* Contenu méchant !!! */ \' ';
}

/* Un commentaire sur une ligne */
